source/question1/my-formatter
source/question2/my-formatter-2
source/question3/main
source/question4/address
source/question4/dangling
source/question4/ref-ptr
source/question4/shared
source/question4/smart-pointers


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
